.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    background-color: rgb(83, 83, 83);
}

.text-info-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 1139px;
    margin-left: 150px;
    height: 494px;
}

.text-info-container p {
    text-align: center;
    flex: 1;
    padding: 0 10px;
    border-left: 1px solid #BBE73E;
    width: 290px;
    height: 486px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.text-info-container p:first-child {
    border-left: none;
}

.title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BBE73E;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.green-text {
    display: block;
    height: 72px;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    color: #BBE73E;
}

.white-text {
    display: block;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-top: 20px;
    text-align: left;
}

.info-button {
    width: 233px;
    height: 70px;
    margin-left: 604px;
    margin-bottom: 76px;
    background-color: black;
    border-radius: 15px;
    border: 2px solid #BBE73E;
    font-size: 24px;
    line-height: 28px;
}