@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400&display=swap');

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.text-container {
    flex: 1 1 45%;
}
.text {
    width: 529px;
    height: 179px;
    margin-left: 142px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.title {
    width: fit-content;
    height: fit-content;
    margin-top: 77px;
    margin-bottom: 53px;
    margin-left: 173px;
    font-weight: 900;
    color: #BBE73E;
}

.image-container {
    flex: 1 1 45%;
    display: flex;
    justify-content: right;
    margin-bottom: 92px;}

button {
    width: 233px;
    height: 70px;
    margin-top: 77px;
    margin-left: 262px;
    background-color: black;
    border-radius: 15px;
    border: 2px solid #BBE73E;
}
